body {
  font-family: "Shippori Antique", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 position: relative;
 overscroll-behavior-block: none;
}
.loader{
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
  z-index: 999;
  display: inline-block;
}
.loader img{
  top: 50%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide_loader{
  display: none;
}
a {
  text-decoration: none;
}
.Ads_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  text-align: center;
  background-color: #ae946d;
  color: white;
  font-size: 12px;
}
.navbar {
  background-color: rgb(5, 5, 5);
  color: white;
  position: sticky;
  top: 0px;
  z-index: 300;
  /* border-bottom: 1px solid rgb(214, 208, 208); */
  height: 5rem;
  box-shadow: rgb(0 0 0 / 45%) 0px 4px 49px -25px;
  transition: height 0.4s ease-in;
}
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0rem 0rem;
}
.nav_info {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  margin: auto;
  transition: height 0.4s ease-in;
}

.active {
  height: 6rem;
}

.nav_info .logo {
  width: 70px;
  height: auto;
}

.nav_info .logo img {
  width: 53px;
  height: auto;
}

.mobile_menu {
  display: none;
}

.nav_info .nav_links {
  
  margin-top: 18px;
}

.nav_info .nav_links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_info .nav_links ul li {
  padding: 0.3rem 1rem;
  list-style-type: none;
  transition: border 0.4s ease-in;
  cursor: pointer;
}

.mobo_links {
  display: none;
}

.nav_info .nav_links ul li:hover {
  border-bottom: 2px solid #ae946d;
}

/* .nav_info .nav_links ul li:nth-child(odd):hover {
    border-bottom: 2px solid #0be916;
} */

.nav_info .nav_links ul li a {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.nav_info .search_bar {
     width: 39%;
     padding: 5px 20px;
  border: 1px solid rgb(230, 227, 227);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(37, 36, 36);
  border-radius: 9px;
}

.nav_info .search_bar span {
  display: grid;
  place-content: center;
  margin-right: 4pxs;
}

.nav_info .search_bar i {
  color: rgb(10, 10, 10);
}

.nav_info .search_bar i {
  color: rgb(255, 255, 255);
}

.nav_info .search_bar #search_box {
  width: 100%;
  height: 100%;
  padding: 6px 18px;
  border: none;
  font-size: 15px;
  background-color: rgb(37, 36, 36);
  color: white;
}
.right_part {
  width: 64%;
  display: flex;
  align-items: center;
  justify-content: end;
}
/* ----------------for search bg ---------------- */
.search_bg_light {
  background-color: white;
}

.nav_info .search_bar #search_box:focus {
  outline: none;
}

/* ---------------------Desktop Action css------------------------------- */

.nav_info .desktop_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 5rem;
  margin-left: 10px;
}

/* ------------------profile CSS----------- */
.nav_info .desktop_actions .profile_info {
 position: absolute;
 top: 5rem;
 right: 0rem;
 width: 272px;
  padding: 4px 8px;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border-top: 3px solid red;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in;
  border-radius: 3px;
}

.nav_info .desktop_actions .profile_info.show_profile {
  visibility: visible;
  opacity: 1;
}

/* .nav_info .desktop_actions .profile_info .user_name {
  padding-left: 20px;
  font-weight: 900;
  font-size: 15px;
} */


.nav_info .desktop_actions .profile_info .profile_links ul {
  padding-left: 20px;
}

.nav_info .desktop_actions .profile_info .profile_links ul li {
  list-style-type: none;
}

.nav_info .desktop_actions .profile_info .profile_links ul li a {
  text-decoration: none;
  font-size: 12px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 400;
  color: black;
}

/* .nav_info .desktop_actions .profile_info .profile_links .welcome_title {
  font-size: 16px;
  line-height: 26px;
  padding: 0 8px;
} */

.nav_info .desktop_actions .profile_info .profile_links .signUp li {
  border: 0.23px solid gray;
  text-align: center;
  margin-right: 16px;
  padding: 6px 19px;
}

.nav_info .desktop_actions .profile_info .profile_links .signUp li a {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 800;
  color: #fc427b;
}
.profile_info button{
width: 83%;
margin: 0 20px;
border: none;
padding: 8px 0;
background-color: #bb9977;
color: white;
}
.profile_info p{
  font-size: 12px;
}
.right .profile_info hr{
  margin: 0;
}

/* ------------------End of profile CSS----------- */

.nav_info .desktop_actions .desktop_view {
  width: 64px;
  text-align: center;
  cursor: pointer;
}

.nav_info .desktop_actions .desktop_view .icon a {
  color: white;
}

.nav_info .desktop_actions .desktop_view .icon i {
  font-size: 17px;
}

/* -------------selected wishlist item css----------------------  */
.nav_info .desktop_actions .desktop_view .wishlist_icon,
.nav_info .desktop_actions .desktop_view .bag_icon {
  position: relative;
}

.nav_info .desktop_actions .desktop_view h5 {
  font-size: 12px;
  display: flex;
  align-self: normal;
}

.nav_info .desktop_actions .desktop_view .wishlist_icon span,
.nav_info .desktop_actions .desktop_view .bag_icon span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 18px;
  background-color: #bf221f;
  color: white;
  top: -8px;
  right: 11px;

  border-radius: 50%;
}

.nav_info .desktop_actions .desktop_view .title {
  font-size: 13px;
  font-weight: bold;
  margin-top: 2px;
}
section#banner {
  position: relative;
}

.banner img {
  width: 100%;
}
section#banner .banner_content {
  position: absolute;
  top: 12%;
  left: 51%;
  transform: translate(-50%, 50%);
  text-align: center;
  width: 80%;
  color: black;
}
.banner_content h1 {
  font-size: 50px;
  word-spacing: 3px;
}
.banner_content h4 {
  font-size: 30px;
}
.banner_content p {
  font-size: 13px;
  font-weight: bold;
}
.banner_content .btn_cont button {
  padding: 9px 13px;
  margin: 0 4px;
  min-width: 50px;
  border: none;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in;
  font-weight: 300;
  font-size: 18px;
}
.banner_content .btn_cont button:hover {
  background-color: rgb(49, 47, 47);
}
.product_history {
  display: grid;
  grid-template-columns: repeat(auto-fit, 148px);
  align-items: center;
  width: 80%;
  margin: auto;
  height: 13rem;
}
.product_history .prod {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_history .prod .circle_img {
  width: 128px;
  height: 128px;
  border: 1px solid red;
  border-radius: 50%;
}
.product_history .prod .circle_img img {
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 50%;
}
.product_history p {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 9px;
  color: black;
}
.img_overscale {
  position: relative;
  text-align: center;
}
.img_overscale .banner_content {
  position: absolute;
  top: 30%;
  left: 4%;
}
.img_overscale h1 {
  color: black;
  font-weight: bold;
}
.img_overscale .banner_content.new {
  top: 50%;
  left: 40%;
}
.img_overscale .banner_content.new h1,
p {
  color: white;
}
.img_overscale .banner_content.new button {
  background-color: white;
  color: black;
}
.img_overscale .banner_content.winter {
  top: 25%;
  left: 59%;
}
.slider_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
  width: 97%;
  margin: auto;
  margin-top: 50px;
}
.slider_container .slider {
  margin: 0 12px;
  object-fit: cover;
  display: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 332px;
  transition: all 0.4s ease-in;
}
.slider_container .slider img {
  /* width: 100%;
  height: 455px;
  transform: scale(1.1);
  transition: all 0.4s ease-in; */
  width: 318px;
  height: 366px;
  height: 490px;
  transform: scale(1.2);
  transition: all 0.4s ease-in;
  object-fit: cover;
}
.slider_container .slider .content {
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: white;
  width: 100%;
  /* height: 300px; */
      height: 360px;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 46px;
  transition: bottom 0.4s ease-in;
  padding-top: 4rem;
}
.slider_container .slider .content .social_icons i {
  font-size: 25px;
  margin-bottom: 5px;
}

.slider_container .slider:hover .content {
  bottom: -10%;
}
.slider_container .slider:hover img {
  transform: scale(1.1);
}

.indicater {
  position: absolute;
  top: 44%;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
.slider_container:hover .indicater{
  display: inline-flex;
}
.indicater i {
  font-size: 42px;
  cursor: pointer;
}
.indicater .circle {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background-color: rgb(241, 237, 237);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading h2 {
  opacity: 0.7;
}
.heading2 {
  width: 70%;
  margin: auto;
}
.heading2 h2 {
  font-weight: bold;
}
.heading2 p {
  font-size: 17px;
  opacity: 0.8;
}

#footer {
  display: flex;
  align-items: center;
  height: 74vh;

  background-color: black;
  position: relative;
  margin-top: 3rem;
}
.footer_info {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: auto;
}
.left {
  width: 70%;
  display: flex;
  gap: 20px;
}
.left .left_1,
.left_2 {
  width: 470px;
}
.left_1 h2,
.left_2 h2,
.right h2 {
  padding: 12px 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  color: white;
  font-weight: 300;
  font-size: 13px;
}
.left .footer_links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 5px 9px;
}
.left .footer_links ul {
  padding: 0;
  margin: 0;
}
.left .footer_links ul li {
  list-style: none;
  margin: 15px 0;
}
.left .footer_links ul li a {
  color: rgb(128, 120, 120);
  transition: all 0.4s ease-in;
  font-size: 12px;
}
.left .footer_links ul li a:hover {
  color: rgb(253, 253, 253);
}
 .right {
  width: 270px;
}
 .right .social_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  margin: 19px 6px;
}
 .right .social_icons i {
  font-size: 26px;
  color: white;
}
 .right .social_icons:hover i {
  color: rgb(150, 140, 140);
}
 .right .social_icons i:hover {
  color: rgb(253, 253, 253);
}

.company {
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.company .info p {
  font-size: 10px;
  border-bottom: 1px solid white;
  padding: 10px 0;
  cursor: pointer;
}
.right hr {
  color: rgb(201, 192, 192);
  margin-top: 9rem;
}
#footer .hr_line {
  position: absolute;
  bottom: 11px;
  color: white;
  width: 98%;
}
.hr_line hr {
  color: white;
}
.about_company {
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 13px 10px;
  margin-left: 77px;
}
#country{
    width: 20%;
    padding: 10px 15px;
}
