body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AD_container {
  text-align: center;
}
#list {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
#list > div > ul {
  display: flex;
  gap: 20px;
}
#list > div > ul > li {
  margin-right: 10px;
}
#wishlist {

  padding: 0px 51px;
  margin-top: -33px;
}
#show > img {
  width: 22%;
  margin-right: 30px;
      border: 1px solid #80808014;
}
#show {
  display: flex;
  justify-content: center;
  padding-right: -20px;
  margin-bottom: 3rem;
}

#text > div {
  width: 100%;
  padding: 0px 15px;
}
/* #text > div:first-child {
  display: flex;
  justify-content: space-between;
} */
.price{
  margin-top: 15px;
}
.price h3:nth-child(1){
  font-size: 30px;
}
.price h3:nth-child(2){
  font-size: 20px;
  text-decoration: line-through;
}
#lower > div > p {
  color: #9ab;
}
#lower {
  display: flex;
  justify-content: space-between;
}
#lower > div:last-child {
  margin-top: 10px;
}
.far {
  margin-right: 5px;
}
select {
     padding: 9px 13px;
     width: 30%;
     margin-top: 10px;
}
#two {
  margin-top: 20px;
  margin-left: 18px;
  padding: 10px 160px;
  background-color: #b97;
  border: none;
  text-align: center;
}
i{
  cursor: pointer;
}